:root {
  --second-start: 0deg;
  --second-end: 360deg;
  --minute-start: 0deg;
  --minute-end: 360deg;
  --hour-start: 0deg;
  --hour-end: 360deg;
}

#canvas
{
    border: 1px solid black;
}

.bigContainer
{
    display: flex;
    flex-direction: row;
}

.container 
{
    border: 1px solid black;
    margin-left: 10px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second {
  animation: second-animation 60s linear infinite;
  transform-origin: 50px 50px;
  transform: rotateZ(180deg);
}

#minute {
  animation: minute-animation 3600s linear infinite;
  transform-origin: 50px 50px;
}

#hour {
  animation: hour-animation 43200s linear infinite;
  transform-origin: 50px 50px;
  
}

@keyframes second-animation {
  0% {
    transform: rotateZ(var(--second-start));
  }
  
  100% {
    transform: rotateZ(var(--second-end));
  }
} 

@keyframes minute-animation {
  0% {
    transform: rotateZ(var(--minute-start));
  }
  
  100% {
    transform: rotateZ(var(--minute-end));
  }
} 

@keyframes hour-animation {
  0% {
    transform: rotateZ(var(--hour-start));
  }
  
  100% {
    transform: rotateZ(var(--hour-end));
  }
} 